<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Test API Call </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="text-align: center; font-size: x-large; padding: 2vw">
    <ion-icon name="list-outline" (click)="changemode('list')"></ion-icon>
    <ion-icon name="grid-outline" (click)="changemode('grid')"></ion-icon>
  </div>
  <ion-grid *ngIf="viewmode">
    <ion-row>
      <ion-col size="6" *ngFor="let a of apidata">
        <p>Name: {{a.first_name}}</p>
        <p>Email: {{ a.email}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="!viewmode">
    <ion-item *ngFor="let a of apidata">
      <p>Name: {{a.first_name}}</p>
      <p>Email: {{ a.email}}</p>
    </ion-item>
  </ion-list>
</ion-content>
