<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Test API Call </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="viewmode">
    <ion-row>
      <ion-col size="6" *ngFor="let a of apidata">
        <p>Name: {{a.first_name}}</p>
        <p>Email: {{ a.email}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="!viewmode">
    <ion-item *ngFor="let a of apidata">
      <p>Name: {{a.first_name}}</p>
      <p>Email: {{ a.email}}</p>
    </ion-item>
  </ion-list>
</ion-content>
